node_modules
*.log
dist
.tmp
.sass-cache
public/bower_components
.jshintrc
physlib.sublime-*

# passwords and junk
app/config.js

# remove these later
Gruntfile.js
.travis.yml
test
public/.buildignore
