<div class="jumbotron">
  <h1>UW PhysClub Library</h1>
  <p class="lead">
  	A little knowledge goes a long way.
  </p>
</div>

<div class="row marketing">
  <p>Welcome to the website for the UW PhysClub Library. Pretty, ain't it? To sign out a book, you must first <a href="#/signup">create an account.</a> Why? Because raisins. To find books, click the button below.</p>
  <div id="search-home" class="text-center">
    <a href="#/books"><button class="btn btn-superhero btn-lg">Find Books</button></a>
  </div>
</div>
