<div class="jumbotron signup">
  <h1>My Books</h1>
  <form name="signupinfo" id="signup-inputs" class="form-horizontal text-center" novalidate>
    <div class="form-group">
      <input ng-model="name" type="text" name="name" class="form-control" placeholder="Full Name" required> 
    </div>
    <div class="form-group">
      <input ng-model="email" type="email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
      <input ng-model="uwid" type="text" name="uwid" class="form-control" placeholder="UW ID #" required uwid> 
    </div>
    <div class="form-group">
      <input ng-model="password" type="password" name="password" class="form-control" placeholder="Password" required> 
    </div>
    <div ng-show="signupinfo.email.$error.email" class="alert alert-danger">Invalid Email.</div> 
    <div ng-show="signupinfo.uwid.$error.uwid" class="alert alert-danger">Invalid ID.</div> 
    <button ng-click="signup()" ng-disabled="signupinfo.$invalid" type="submit" class="btn btn-superhero">Sign up</button>
  </form>
</div>

<div class="row marketing">
  
</div>
